.appone {
  background: rgb(255, 255, 255);
  height: 30vh;
  background-color: rgba(255, 255, 255, 0.37);
  height: 50vh;
  margin-top: -50px;
}

.app {
  margin-top: 20px;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

.app > h1 {
  text-align: center;
  color: rgb(34, 123, 134);
  font-size: 40px;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.btnap {
  text-align: center;
  margin-top: 0px;
}

.aptext {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 40px;
}
.app__container {
  background-color: rgb(255, 255, 255);
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.2);
  object-fit: contain;
  margin-top: 30px;
}

.app__wrapper {
  position: relative;
  margin: 50px 0 45px;
  height: 100vh;
}

.app__items {
  margin-bottom: 10px;
  display: flex;
  flex: 1;
  margin: 0 1rem;
  border-radius: 10px;
  padding: 10px;
}

.app__name {
  color: rgb(34, 123, 134);
  padding: 10px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.app__info {
  padding: 20px 30px 0px;
}

.app__text {
  font-size: 18px;
  line-height: 24px;
  color: rgb(99, 99, 99);
  font-size: 24px;
  text-align: center;
  margin-top: 15px;
}

.app_wrap {
  display: flex;
  flex-flow: column;
  width: 100%;
  box-shadow: 0 6px 20px rgba(15, 36, 71, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}
ul {
  list-style-type: none;
}

.app__pic-wrap {
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
  align-self: center;
  background-color: rgb(34, 123, 134);
  height: 360px;
}

.app__pic-wrap::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 30px);
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: rgb(34, 123, 134);
  box-sizing: border-box;
  font-size: 20px;
}

.app__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.app__img:hover {
  transform: scale(1.1);
}

ul {
  display: flex;
  flex-direction: row;
}

li {
  padding: 30px;
  align-self: center;
  width: 100%;
}

.appdoc__container {
  background: url("./img-app.jpg") center center/cover no-repeat;
  background-color: rgb(34, 123, 134);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.2);
  object-fit: contain;
}

.appdoc__container > h1 {
  color: #fff;
  font-size: 50px;
  margin-top: -100px;
  padding: 55px;
}
